body {
  margin-left: 20%;  margin-right: 20%;
  margin-top: 8%;  margin-bottom: 8%;

  font-family: 'eb-garamond', Baskerville, Georgia, Times, serif;

  color: #dde1ff;
  background: #42434c;
}

h1 {
  display: inline-block;
  font-size: 2.1em;
  border-top: 1px solid #febd4e;
}

p {
  margin-left: 8%;
  padding-left: 10px;
  font-size: 1.2em;
  border-left: 1px dotted #6f707f;
}

h1, h2, h3, h4, h5, h6 {
  color: #febf4e;
}

h2, h3, h4, h5, h6 {
  font-style: italic;
  margin-left: 4%;
}

