.header-logo-invertocat { transition: all 0.5s; }  
.header-logo-invertocat:hover {
  transform: rotate(360deg);
}

.tabnav-tab { transition: all 0.2s; }
.tabnav-tab:hover {
  border-radius: 3px 3px 0 0;
  border-color: #e5e5e5;
}

.repo-list-item { transition: all 0.3s; opacity: 0.4; }
.repo-list-item:hover {
  opacity: 1;
}

.mini-repo-list,
#contributions-calendar,
.contrib-column {
  border-color: #f5f5f5;
}

.mini-repo-list li a {
  border: none;
}

.mini-repo-list li.public.source:hover {
  background: #fafafa;
}

.boxed-group.flush { transition: all 0.2s; }
.boxed-group.flush:hover {
  box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.25);
}

.boxed-group.flush h3 {
  border: none;
}

.files tr { transition: all 0.2s; }
.files tr:hover {
  background: #ebebeb;
}

.breadcrumb strong.final-path {
  -webkit-animation-name: grow_in;
  -webkit-animation-duration: 1s;
  -webkit-animation-timing-function: ease-out;
}

.column.one-fourth.vcard {
  -webkit-animation-name: grow_in;
  -webkit-animation-duration: 1s;
}

@-webkit-keyframes grow_in {
  0% { -webkit-transform: scaleX(0.3); }
  40% { -webkit-transform: scaleX(1.02); }
  60% { -webkit-transform: scaleX(0.98); }
  80% { -webkit-transform: scaleX(1.01); }
  100% { -webkit-transform: scaleX(0.98); }       
  80% { -webkit-transform: scaleX(1.02); }
  100% { -webkit-transform: scaleX(1); }    
}
